[submodule "standalone-sdk"]
	path = kendryte-standalone-sdk
	url = git@github.com:kendryte/kendryte-standalone-sdk.git
	branch = develop
[submodule "freertos-sdk"]
	path = kendryte-freertos-sdk
	url = git@github.com:kendryte/kendryte-freertos-sdk.git
	branch = develop
